@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Dancing+Script:wght@400..700&family=Emilys+Candy&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Kite+One&family=National+Park:wght@200..800&family=Orbitron:wght@400..900&family=Varela+Round&family=WDXL+Lubrifont+TC&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
    
}
html
{
    font-size:16px;
    
}

body
{
    min-width: 100vw;
    min-height:100vh;
    background-color: var(--azul-cl);
}
a{
    text-decoration: none;
}
:root
{
    --azul-esc-ab:#001C45;
    --azul-esc-fec:#0148AF;
    --azul-med:#1354B1;
    --azul-med-cl:#0086C0;
    --azul-cl:#DEF2F9;
    --verde:#008055;
    --cinza:#BBC5CE;
    --bege:#E7D3B2;
    --rosa:#FAD6A5;
}

@media (max-width:990px)
{
    .dropdown-menu,
    .dropdown-item
    {
        font-size: 1.5rem;
        
    }
    header nav
    {
        min-height: 18vh;
    }
    .nav-container .nav-link.dropdown-toggle 
    {
        font-size: 1.2rem; 
    }
    .navbar-nav .nav-item.dropdown > .nav-link 
    {
    font-size: 1.1rem !important;
    }

    .dropdown-menu .dropdown-item 
    {
        font-size: 1rem !important;
    }
    .logo
    {
        width: 16vw;
    }
    .nav-container .icon-container i 
    {
        font-size: 1.1rem;
    }    
    .icon-container
    {
        align-self: center;
        padding: 0 3vw;
    }
    .icon-container i
    {
        padding:1vw;
    }
    main {
        min-height: 100%;
    }
    .fundo-img-index 
    {
        background-image: url('../images/mulher-capa2.jpg');
        width: 100vw;
        min-height: 60vh;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin: 0;
    }
    footer
    {
        width: 100vw;
        position: static;
        bottom: 0;
    }
    footer i
    {
        font-size: 1.2rem;
    }
    footer p,
    footer a
    {
        font-size: 0.8rem !important;
    }
    .card-margin
    {
        margin-bottom: 5vh;
    }
}

@media (max-width: 768px) {
  .carousel-container {
    width: 200px;
    margin: 0 auto;         
  }

  .carousel-container img {
    display: block;
    margin: 0 auto;          
    max-width: 100%;          
  }
}

@media (min-width:991px)
{
    .logo,
    .icon-container
    {
        width: 10vw;
        margin-top: 2vh;
    }
    .nav-container .nav-link.dropdown-toggle 
    {
        font-size: 1.2rem; 
    }
    .nav-container .icon-container i 
    {
        font-size: 1.5rem;
        color: var(--azul-esc-ab);
    }    
    .icon-container
    {
        align-self: center;
        padding: 0 5vw;
    }
    .icon-container i
    {
        padding:1.5vw;
    }
    
    .fundo-img-index 
    {
        background-image: url('../images/mulher-capa2.jpg');
        min-width:100vw;
        min-height: 90vh;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
    }
}

.nav-css
{
    background-color: var(--azul-esc-ab);
    height: 12vh;
    
}
.nav-item a, i
{   
    font-size: 1vw;
    color: var(--cinza);
}
.nav-item i:hover
{
    color: var(--azul-med-cl);
}
.nav-link,
.nav-link:focus,
.nav-link:hover,
.nav-link.dropdown-toggle,
.nav-link.dropdown-toggle:focus,
.nav-link.dropdown-toggle:hover,
.nav-link.show,
.nav-link.dropdown-toggle.show {
  color: var(--azul-cl) !important;
}

.form-control-css
{
    width: 30vw;
}
.form-control-css::placeholder
{
    color: var(--azul-esc-fec);
}
.navbar
{
    padding-bottom: 0.5rem;
}
.navbar-toggler,
.icon-container,
.logo
{
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}
.logo_title
{
    color: var(--rosa);
    margin: auto;
    font-weight: 900;
}
main img
{
    width: 100vw;
    height:100vh;
}
.nav-color
{
    color: var(--cinza);
    font-size: 1vw;
   
}
.nav-ed
{   
    margin-top: 0;
    min-height: 12vh;
    background-color: var(--azul-esc-ab);
}
.card-container
{
    margin: 5vh auto;
    width: 80vw;
    

}
.card
{
    border: none;
}
.card:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-img-top
{
    width: 90%;
    height: 30vh;
    margin: 1vh auto;
}

.main-init
{
    margin: 5vh 0 1vh 0;
    color: var(--azul-esc-fec);
    background-color: var(--azul-cl);

}
.main-text
{
    color: var(--azul-med-cl);
}
.main-title
{
    background-color: var(--cinza);
    width: 50vw;
    margin-top: 3vh;
    padding: 1vh 0.5vw;
    color: var(--azul-esc-ab);
    text-align: center;
    font-size: 2rem;

}
.btn-success
{
    background-color:
    var(--azul-med-cl);
    border-color: var(--azul-med-cl);
    margin-bottom: 2vh;
}
.btn-outline-success
{
    color: #0086C0;
    border-color: #0086C0;
}
.carousel-size-img
{
    width: 30vw;
    height: 60vh;
    object-fit: cover;
}
.carousel-container
{

   max-width: 40rem;
   max-height: 70vh;
   
}
.info
{   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    
}
.info h1,label,p
{
    color: var(--azul-med);
    font-weight: 400;
}
.preco-antigo {
  text-decoration: line-through;
  color: gray;
}  
.preco-atual {
  font-size: 1.5em;
  color:var(--verde);
  margin: 10px 0;
}

.promocao {
  font-weight: 900;
  padding: 2px 6px;
  font-weight: bold;
}
.login-title
{
    color: var(--azul-esc-fec);

}
.login-card
{
    width: 60vw; 
    max-width: 600px;
    height: 60vh;
    max-width: 600px;

}


